{
    "plugins": [["@babel/syntax-dynamic-import"],
        [
            "module-resolver",
            {
                "root":["."],
                "alias": {
                    "components": "./client/js/components",
                    "containers": "./client/js/containers",
                    "assets": "./client/assets",
                    "css":"./client/css"
                }
            }
        ]

],
    "presets": [
        [
            "@babel/preset-env",
            {
                "modules": false
            }
        ],
        [
        "@babel/preset-react",
        { "development": true }
        ]
    ]
}
